<div class="d-md-flex justify-content-between">
  <div>
    <h3>新聞清單</h3>
    <form action="/admin/news" method="GET" class="d-flex mb-2">
      <input type="text" class="me-2 rounded" name="keyword" id="keyword" placeholder="請輸入關鍵字" value="{{keyword}}">
      <select name="filter" id="filter" class="me-2 rounded">
        <option value="ASC" {{#ifCond filter "ASC"}}selected{{/ifCond}}>最舊 -> 最新</option>
        <option value="DESC" {{#ifCond filter "DESC"}}selected{{/ifCond}}>最新 -> 最舊</option>
      </select>
      <button class="btn btn-primary">搜尋</button>
    </form>
  </div>
  {{> admin-tabs route="新聞清單"}}
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">標題</th>
      <th scope="col" class="d-none d-md-table-cell">出處</th>
      <th scope="col" class="d-none d-md-table-cell">發佈時間</th>
      <th scope="col">#</th>
    </tr>
  </thead>
  <tbody>
    {{#each news}}
      <tr>
        <th scope="row">{{this.id}}</th>
        <td>{{this.title}}</td>
        <td class="d-none d-md-table-cell">{{this.author}}</td>
        <td class="d-none d-md-table-cell">{{moment this.publishedAt}}</td>
        <td class="d-flex">
          <a href="/admin/news/{{this.id}}/edit" class="btn btn-primary me-2">編輯</a>
          <form action="/admin/news/{{this.id}}?_method=DELETE" method="POST">
            <button class="btn btn-danger">刪除</button>
          </form>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>

{{> pagination pageRoute="/admin/news"}}
