<div class="d-md-flex justify-content-between">
  <div>
    <h3>會員清單</h3>
    <form action="/admin/users" method="GET" class="d-flex mb-2">
      <input type="text" class="me-2 rounded" name="keyword" id="keyword" placeholder="請輸入關鍵字" value="{{keyword}}">
      <select name="filter" id="filter" class="me-2 rounded">
        <option value="ASC" {{#ifCond filter "ASC" }}selected{{/ifCond}}>最舊 -> 最新</option>
        <option value="DESC" {{#ifCond filter "DESC" }}selected{{/ifCond}}>最新 -> 最舊</option>
      </select>
      <button class="btn btn-primary">搜尋</button>
    </form>
  </div>
  {{> admin-tabs route="會員清單"}}
</div>

<table id="admin-table" class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">名稱</th>
      <th scope="col">電子信箱</th>
      <th scope="col">權限</th>
      <th scope="col">#</th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <td>{{this.name}}</td>
      <td>{{this.email}}</td>
      {{#if this.isAdmin}}
        <td>管理員</td>
      {{else}}
        <td>使用者</td>
      {{/if}}
      <td class="d-flex">
        {{#if this.isRoot}}
        <form action="/admin/users/{{this.id}}?_method=Patch" method="POST">
          <button class="btn btn-primary me-2 disabled">調整權限</button>
        </form>
        <form action="/admin/users/{{this.id}}?_method=DELETE" method="POST">
          <button class="btn btn-danger disabled">刪除</button>
        </form>
        {{else}}
        <form action="/admin/users/{{this.id}}?_method=Patch" method="POST">
          <button class="btn btn-primary me-2">調整權限</button>
        </form>
        <form action="/admin/users/{{this.id}}?_method=DELETE" method="POST" class="delete-form" data-name="使用者" data-id="{{this.id}}">
          <button class="btn btn-danger">刪除</button>
        </form>
        {{/if}}
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>

{{> pagination pageRoute="/admin/users"}}

<script src="/javascripts/delete-form-submit.js"></script>
