{{#ifCond pageRoute "/news"}}
  <nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
      <li class="page-item"><a class="page-link" href="{{pageRoute}}?page={{pagination.prev}}&filter={{filter}}&keyword={{keyword}}&categoryId={{categoryId}}">上一頁</a></li>
      {{#each pagination.pages}}
        {{#ifCond ../pagination.currentPage this}}
          <li class="page-item active"><a class="page-link" href="{{pageRoute}}?page={{this}}&filter={{../filter}}&keyword={{../keyword}}&categoryId={{../categoryId}}">{{this}}</a></li>
        {{else}}
          <li class="page-item"><a class="page-link" href="{{pageRoute}}?page={{this}}&filter={{../filter}}&keyword={{../keyword}}&categoryId={{../categoryId}}">{{this}}</a></li>
        {{/ifCond}}
      {{/each}}
      <li class="page-item"><a class="page-link" href="{{pageRoute}}?page={{pagination.next}}&filter={{filter}}&keyword={{keyword}}&categoryId={{categoryId}}">下一頁</a></li>
    </ul>
  </nav>
{{else}}
  <nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
      <li class="page-item"><a class="page-link"
          href="{{pageRoute}}?page={{pagination.prev}}&filter={{filter}}&keyword={{keyword}}">上一頁</a>
      </li>
      {{#each pagination.pages}}
      {{#ifCond ../pagination.currentPage this}}
      <li class="page-item active"><a class="page-link"
          href="{{pageRoute}}?page={{this}}&filter={{../filter}}&keyword={{../keyword}}">{{this}}</a>
      </li>
      {{else}}
      <li class="page-item"><a class="page-link"
          href="{{pageRoute}}?page={{this}}&filter={{../filter}}&keyword={{../keyword}}">{{this}}</a>
      </li>
      {{/ifCond}}
      {{/each}}
      <li class="page-item"><a class="page-link"
          href="{{pageRoute}}?page={{pagination.next}}&filter={{filter}}&keyword={{keyword}}">下一頁</a>
      </li>
    </ul>
  </nav>
{{/ifCond}}