<div class="row">
  <div id="news" class="col-12 col-lg-8">
    <div class="news-text">
      <h4 class="text-center">{{news.title}}</h4>
      <div id="news-image" class="mx-auto" style="background-image: url('{{news.urlToImage}}');"></div>
      <br>
      <p>{{news.description}}</p>
      <div class="d-flex justify-content-between">
        <div>
          <p>來源出處: {{news.author}}</p>
          <p>發佈時間: {{news.publishedAt}}</p>
        </div>
        <a href="{{news.url}}" target="_blank">點我閱讀新聞內容</a>
      </div>
    </div>

    <hr>

    {{> comments}}
  </div>

  <div class="col-12 col-lg-4 news-text">
    <h5>同樣新聞出處: </h5>
    {{#if relatedNews}}
      {{#each relatedNews}}
      <a href="/news/{{this.id}}">
        <div class="mx-auto position-relative news-side-image"
          style="background-image: linear-gradient(180deg, rgba(0,0,0,.7) 0%, rgba(71,70,70,0) 50%, rgba(0,0,0,.7) 100%), url('{{this.urlToImage}}');">
          <p class="text-white position-absolute bottom-0 m-0 p-2">{{this.title}}</p>
        </div>
      </a>
      <hr>
      {{/each}}
    {{else}}
      <p>沒有任何新聞</p>
    {{/if}}
  </div>
</div>

