<div class="row">
  <div id="news" class="col-12 col-md-8 text-center">
    <h4>{{news.title}}</h4>
    <div id="news-image" class="mx-auto" style="background-image: url('{{news.urlToImage}}');"></div>
    <div>
      <a href="{{news.url}}" target="_blank">詳情</a>
      <p>來源出處: {{news.author}}</p>
      <p>{{news.description}}</p>
    </div>

    <div>
      <h5>評論</h5>
    </div>
  </div>

  <div class="col-12 col-md-4">

  </div>
</div>

