<div class="row">
  <div id="news" class="col-12 col-md-8">
    <h4 class="text-center">{{news.title}}</h4>
    <div id="news-image" class="mx-auto" style="background-image: url('{{news.urlToImage}}');"></div>
    <br>
    <p>{{news.description}}</p>
    <div class="d-flex justify-content-between">
      <div>
        <p>來源出處: {{news.author}}</p>
        <p>發佈時間: {{news.publishedAt}}</p>
      </div>
      <a href="{{news.url}}" target="_blank">點我閱讀新聞內容</a>
    </div>

    <hr>

    <div>
      <h5>評論</h5>
      {{#each news.Comments}}
      <div class="d-flex justify-content-between">
        <div class="d-flex">
          <h5 class="me-2">{{this.User.name}}</h5>
          <p class="m-0 align-self-center">commented at {{fromNow this.updatedAt}}: </p>
        </div>

        <code>喜歡總數: {{this.totalLikes}}</code>
      </div>
      <p>{{this.content}}</p>
      <div class="d-flex">
        <form action="">
          <button class="btn btn-primary me-2">喜歡</button>
        </form>
        <form action="">
          <button class="btn btn-danger">討厭</button>
        </form>
      </div>
      <hr>
      {{/each}}

      <form action="" class="mb-3">
        <div class="form-floating mb-3">
          <textarea class="form-control" placeholder="Leave a comment here" id="comment"
            style="height: 100px"></textarea>
          <label for="comment">評論</label>
        </div>
        <button class="btn btn-primary">留下評論</button>
      </form>
    </div>
  </div>

  <div class="col-12 col-md-4">
    <h5>同樣新聞出處: </h5>
    {{#if relatedNews}}
      {{#each relatedNews}}
      <a href="/news/{{this.id}}">
        <div class="mx-auto position-relative"
          style="background-image: linear-gradient(180deg, rgba(0,0,0,.7) 0%, rgba(71,70,70,0) 50%, rgba(0,0,0,.7) 100%), url('{{this.urlToImage}}');background-position: center; background-size: cover; width: 75%; height: 200px;">
          <p class="text-white position-absolute bottom-0 m-0 p-2">{{this.title}}</p>
        </div>
      </a>
      <hr>
      {{/each}}
    {{else}}
      <p>沒有任何新聞</p>
    {{/if}}
  </div>
</div>

