<div id="profile" class="d-flex flex-column flex-md-row justify-content-center rounded">
  <div class="m-2 p-2 rounded profile-first-layer">
    <div id="profile-image" class="mx-auto">
      {{#if user.image}}
        <img src="{{user.image}}" alt="profile-image" class="w-100">
      {{else}}
        <img src="https://www.venmond.com/demo/vendroid/img/avatar/big.jpg" alt="profile-image" class="w-100">
      {{/if}}
    </div>

    <hr>

    <div class="text-center">
      <h3>{{user.name}}</h3>
      <h6><a href="mailto://{{user.email}}">{{user.email}}</a></h6>
      {{#if getProfile}}
        <h6><a href="/users/{{user.id}}/edit">編輯</a></h6>
      {{/if}}
    </div>
    
    <hr>

    <div class="text-center">
      <p>{{user.description}}</p>
    </div>

    <hr>

    <ul class="list-group list-group-flush news-text">
      <li class="list-group-item profile-second-layer">總評論數量: {{user.totalComments}}</li>
      <li class="list-group-item profile-second-layer">被點讚數量: {{user.totalLikes}}</li>
      <li class="list-group-item profile-second-layer">已追隨數量: {{user.totalFollowings}}</li>
      <li class="list-group-item profile-second-layer">被追隨數量: {{user.totalFollowers}}</li>
    </ul>
    <hr>

  </div>

  <br>

  <div class="d-flex flex-column p-2 w-100">
    {{#if getProfile}}
      {{> profile-summary}}
    {{/if}}

    {{#if editProfile}}
      {{> profile-edit}}
    {{/if}}
  </div>
</div>

