<div id="profile" class="d-flex flex-column flex-md-row justify-content-center rounded">
  <div class="m-2 p-2 rounded profile-first-layer">
    <div id="profile-image" class="mx-auto">
      {{#if requestUser.image}}
        <img src="{{requestUser.image}}" alt="profile-image" class="w-100">
      {{else}}
        <img src="https://via.placeholder.com/250?text=No+Image" alt="profile-image" class="w-100">
      {{/if}}
    </div>

    <hr>

    <div class="text-center">
      <h3>{{requestUser.name}}</h3>
      <h6><a href="mailto://{{requestUser.email}}">{{requestUser.email}}</a></h6>
      {{#if getProfile}}
        {{#ifCond requestUser.id user.id}}
          <a href="/users/{{requestUser.id}}/edit" class="btn btn-primary">編輯</a>
        {{else}}
          {{#if requestUser.isFollowed}}
            <form action="/users/{{requestUser.id}}/followship?_method=DELETE" method="POST">
              <button type="submit" class="btn btn-secondary">取消追隨</button>
            </form>
          {{else}}
            <form action="/users/{{requestUser.id}}/followship" method="POST">
              <button type="submit" class="btn btn-primary">追隨</button>
            </form>
          {{/if}}
        {{/ifCond}}
      {{/if}}
    </div>
    
    <br>

    <div>
      <div class="d-flex">
        <p class="me-2">個人簡介</p>
        <hr class="d-block flex-grow-1">
      </div>

      {{#if requestUser.description}}
        <p>{{requestUser.description}}</p>
      {{else}}
        <code>目前尚無</code>
      {{/if}}
    </div>

    <br>

    <ul class="list-group list-group-flush news-text">
      <div class="d-flex">
        <p class="me-2">貢獻統計</p>
        <hr class="d-block flex-grow-1">
      </div>
      <li class="list-group-item profile-second-layer">總評論數量: {{requestUser.totalComments}}</li>
      <li class="list-group-item profile-second-layer">被點讚數量: {{requestUser.totalLikes}}</li>
      <li class="list-group-item profile-second-layer">已追隨數量: {{requestUser.totalFollowings}}</li>
      <li class="list-group-item profile-second-layer">被追隨數量: {{requestUser.totalFollowers}}</li>
    </ul>

    <br>

    <div>
      <div class="d-flex">
        <p class="me-2">他正在追隨誰呢?</p>
        <hr class="d-block flex-grow-1">
      </div>
      {{#if requestUser.Followings}}
      <div class="row row-cols-4 profile-second-layer mx-auto">
        {{#each requestUser.Followings}}
          {{#if this.image}}
          <a href="/users/{{this.id}}"><img class="mini-profile-image my-2" src="{{this.image}}" alt="{{this.name}}"></a>
          {{else}}
          <a href="/users/{{this.id}}"><img class="mini-profile-image my-2"
              src="https://via.placeholder.com/50?text={{this.name}}" alt="{{this.name}}"></a>
          {{/if}}
        {{/each}}
      </div>
      {{else}}
      <code>目前尚無</code>
      {{/if}}
    </div>

    <br>
    
    <div>
      <div class="d-flex">
        <p class="me-2">誰正在追隨他呢?</p>
        <hr class="d-block flex-grow-1">
      </div>
      {{#if requestUser.Followers}}
      <div class="row row-cols-4 profile-second-layer mx-auto">
        {{#each requestUser.Followers}}
          {{#if this.image}}
          <a href="/users/{{this.id}}"><img class="mini-profile-image my-2" src="{{this.image}}" alt="{{this.name}}"></a>
          {{else}}
          <a href="/users/{{this.id}}"><img class="mini-profile-image my-2"
              src="https://via.placeholder.com/50?text={{this.name}}" alt="{{this.name}}"></a>
          {{/if}}
        {{/each}}
      </div>
      {{else}}
      <code>目前尚無</code>
      {{/if}}
    </div>

  </div>

  <br>

  <div class="d-flex flex-column p-2 w-100">
    {{#if getProfile}}
      {{> profile-summary}}
    {{/if}}

    {{#if editProfile}}
      {{> profile-edit}}
    {{/if}}
  </div>
</div>

