<div id="profile" class="d-flex flex-column flex-md-row justify-content-center rounded">
  <div class="m-2 p-2 rounded profile-first-layer">
    <div id="profile-image" class="mx-auto">
      {{#if requestUser.image}}
        <img src="{{requestUser.image}}" alt="profile-image" class="w-100">
      {{else}}
        <img src="https://via.placeholder.com/250?text=No+Image" alt="profile-image" class="w-100">
      {{/if}}
    </div>

    <hr>

    <div class="text-center">
      <h3>{{requestUser.name}}</h3>
      <h6><a href="mailto://{{requestUser.email}}">{{requestUser.email}}</a></h6>
      {{#if getProfile}}
        {{#ifCond requestUser.id user.id}}
          <a href="/users/{{requestUser.id}}/edit" class="btn btn-primary">編輯</a>
        {{else}}
          {{#if requestUser.isFollowed}}
            <form action="/users/{{requestUser.id}}/followship?_method=DELETE" method="POST">
              <button type="submit" class="btn btn-secondary">取消追隨</button>
            </form>
          {{else}}
            <form action="/users/{{requestUser.id}}/followship" method="POST">
              <button type="submit" class="btn btn-primary">追隨</button>
            </form>
          {{/if}}
        {{/ifCond}}
      {{/if}}
    </div>
    
    <hr>

    <div class="text-center">
      <p>{{requestUser.description}}</p>
    </div>

    <hr>

    <ul class="list-group list-group-flush news-text">
      <li class="list-group-item profile-second-layer">總評論數量: {{requestUser.totalComments}}</li>
      <li class="list-group-item profile-second-layer">被點讚數量: {{requestUser.totalLikes}}</li>
      <li class="list-group-item profile-second-layer">已追隨數量: {{requestUser.totalFollowings}}</li>
      <li class="list-group-item profile-second-layer">被追隨數量: {{requestUser.totalFollowers}}</li>
    </ul>
    <hr>

  </div>

  <br>

  <div class="d-flex flex-column p-2 w-100">
    {{#if getProfile}}
      {{> profile-summary}}
    {{/if}}

    {{#if editProfile}}
      {{> profile-edit}}
    {{/if}}
  </div>
</div>

